@using Microsoft.AspNetCore.Identity
@using BookSale.Management.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    <li style="position:relative;" class="pt-2">
        <a href="/cart" class="clr-white">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span class="cart-number">@(ViewData["NumberCart"] is null ? 0 : Convert.ToInt32(ViewData["NumberCart"]))</span>
        </a>
    </li>
    <li class="pt-2 text-light">
        &nbsp; |
    </li>
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a type="submit" class="nav-link btn btn-link text-light" href="/login/logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="/Login">Login</a>
        </li>
    }
</ul>
