@using System.Security.Claims;
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon -->
                <b class="logo-icon">
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    @*<img src="~/admin/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />*@
                    <img src="~/admin/images/logo.png" alt="homepage" class="dark-logo" />
                    <img src="~/admin/images/logo.png" alt="homepage" class="light-logo" height="40" />
                </b>
                <!-- Logo text -->
                <span class="logo-text">
                    Book Sale
                </span>
            </a>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti-more"></i>
            </a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto">
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                        <i class="sl-icon-menu font-20"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="flag-icon flag-icon-us font-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right  animated bounceInDown" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-us"></i> English
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-fr"></i> French
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-es"></i> Spanish
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-de"></i> German
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="~/images/user/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" alt="user" class="rounded-circle" width="31" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <span class="with-arrow">
                            <span class="bg-primary"></span>
                        </span>
                        <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
                            <div class="">
                                <img src="~/images/user/@(User.FindFirst(ClaimTypes.NameIdentifier)?.Value).png" alt="user" class="img-circle" width="60" />
                            </div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">@User.Identity?.Name</h4>
                                <p class=" m-b-0">@User.FindFirst(ClaimTypes.Email)?.Value</p>
                            </div>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti-settings m-r-5 m-l-5"></i> Account Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="authentication" asp-action="logout">
                            <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>