@using BookSale.Management.Application.Abstracts
@model BookSale.Management.Application.DTOs.ViewModels.BookViewModel
@inject IGenreService _generService

@{
    ViewData["Title"] = "SaveData";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Areas/Admin/Views/Shared/_BreadScrum.cshtml")

<div class="container-fluid">
    <form asp-action="savedata" asp-controller="book" method="post" enctype="multipart/form-data"
    asp-antiforgery="true">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-lg-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="Id" type="hidden" class="form-control"  />
                                <div class="form-group">
                                    <label asp-for="GenreId" class="control-label"> </label> <span class="text-danger">*</span>
                                    <select asp-for="GenreId" class="form-control">
                                        <option value="0">Please select</option>
                                        @{
                                            var genres = await _generService.GetGenresForDropdownlistAsync();

                                            foreach (var genre in genres)
                                            {
                                                <option value="@genre.Value">@genre.Text</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="GenreId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Code" class="control-label"></label> <span class="text-danger">*</span>
                                    <input asp-for="Code" class="form-control" type="text" readonly />
                                    <button type="button" id="btn-generate" class="btn btn-rounded btn-block btn-info btn-sm mt-1" style="width:120px">
                                        <i class="sl-icon-refresh"></i> &nbsp; Generate</button>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label> <span class="text-danger">*</span>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Available" class="control-label"></label> <span class="text-danger">*</span>
                                    <input asp-for="Available" class="form-control" />
                                    <span asp-validation-for="Available" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cost" class="control-label"></label> <span class="text-danger">*</span>
                                    <input asp-for="Cost" type="number" class="form-control" />
                                    <span asp-validation-for="Cost" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Author" class="control-label"></label> <span class="text-danger">*</span>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Publisher" class="control-label"></label>
                                    <input asp-for="Publisher" class="form-control" />
                                    <span asp-validation-for="Publisher" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" checked asp-for="IsActive"> Is Active
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label> <span class="text-danger">*</span>
                                    <textarea asp-for="Description" class="form-control" rows="5" ></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @if (Model.Id != 0)
                                    {
                                        <img src="~/images/book/@(Model.Id).png"
                                                height="150" id="img-avatar" />
                                    }
                                    else
                                    {
                                        <img src="~/images/no-image.png" alt="no image" height="150" id="img-avatar" />
                                    }
                                    <input type="file" class="form-control" asp-for="Image" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                @Html.ActionLink("Cancel", "", "Book", null , new { @class="btn btn-secondary ml-1" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/components/book_savedata.js"></script>
}
